
{% extends "base.html" %}
{%load static %}

    
{% block content %}
<!--
<div class="custom-container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          {% comment %} <a class="navbar-brand" href="{% url 'home' %}">Navbar</a> {% endcomment %}
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'import_data' %}">Import Data</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'export_data' %}">Export Data</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'celery_test' %}">Celery Testing</a>
              </li>
            </ul>
            {% comment %} <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form> {% endcomment %}
          </div>
        </div>
      </nav>
</div>
-->



{% if user.is_authenticated %}        
<div class="container" style="padding: 50px;">
  <h2 class="text-center">Automate The Boring Stuff With Django</h2>
  <div class="row pt-5">
      <!-- Import data -->
      <div class="col-md-4">
          <a href="{% url 'import_data' %}" class="text-decoration-none text-dark">
              <div class="card alert-primary shadow">
                  <div class="card-header">
                  <h4>Import Data</h4>
                  </div>
                  <div class="card-body">
                  <p class="card-text">Imports data from CSV file to any table.</p>
                  </div>
              </div>
          </a>
      </div>
      <!-- Export Data -->
      <div class="col-md-4">
          <a href="{% url 'export_data' %}" class="text-decoration-none text-dark">
              <div class="card alert-success shadow">
                  <div class="card-header">
                  <h4>Export Data</h4>
                  </div>
                  <div class="card-body">
                  <p class="card-text">Exports data from a specific table to a CSV file.</p>
                  </div>
              </div>
          </a>
      </div>

      <!-- Bulk Emails -->
      <div class="col-md-4">
          <a href="{% url 'send_email' %}" class="text-decoration-none text-dark">
              <div class="card alert-danger shadow">
                  <div class="card-header">
                  <h4>Bulk Emails</h4>
                  </div>
                  <div class="card-body">
                  <p class="card-text">Sends bulk emails to users</p>
                  </div>
              </div>
          </a>
      </div>
  </div>

  <div class="row pt-5">
      <!-- Email Tracking -->
      <div class="col-md-4">
          <a href="{% url 'track_dashboard' %}" class="text-decoration-none text-dark">
              <div class="card alert-warning shadow">
                  <div class="card-header">
                  <h4>Email Tracking</h4>
                  </div>
                  <div class="card-body">
                  <p class="card-text">Tracks emails and shows open and click rate</p>
                  </div>
              </div>
          </a>
      </div>
      
   <!-- Compress Images -->
      <div class="col-md-4">
          <a href="#" class="text-decoration-none text-dark">
              <div class="card alert-danger shadow">
                  <div class="card-header">
                  <h4>Compress Images</h4>
                  </div>
                  <div class="card-body">
                  <p class="card-text">Compresses Image files and reduces the size</p>
                  </div>
              </div>
          </a>
      </div>

   <!-- Web Scraping -->
      <div class="col-md-4">
          <a href="#" class="text-decoration-none text-dark">
              <div class="card alert-warning shadow">
                  <div class="card-header">
                  <h4>Web Scraping</h4>
                  </div>
                  <div class="card-body">
                  <p class="card-text">Scrapes websites for useful information</p>
                  </div>
              </div>
          </a>
      </div>
  </div>

{%else%}

<div class="home-info">

  <h2 class="text-center mt-3">Automate the Boring Stuff with Django</h2>
  <div style="max-width:40rem; margin:auto" class="mt-2">
    <p class="lead text-center text-muted">
      Automate the Boring Stuff with Django. Dives into the realm of streamlining and simplifying 
      repetitive tasks through the powerful Django web framework. 
    </p>
  </div>

  <div style="max-width:40rem; margin:auto; display:flex; justify-content:center;" class="mt-2">
    <a class="float-right btn btn-primary " href="{% url 'login' %}">LOGIN</a>
    &nbsp;
    <a class="float-right btn btn-outline-success" href="{% url 'register' %}">REGISTER</a>
  </div>

</div>
{%endif%}




</div>


    


{%endblock%}

  
